*.o
*.co
*.a
/o5mconvert
/examples/example
/examples/examplestream
/examples/exampleosmchange
/tests/test_cppo5m
/tests/test_fixeddeque
/example-out.o5m
/example-out.osm
/fuzz/fuzz_o5m
/fuzz/fuzz_osmxml
/fuzz/fuzz_osmchangexml
/fuzz/fuzz_osmjson
/fuzz/fuzz_pbf
/fuzz/crash-*
/fuzz/timeout-*
/fuzz/oom-*
/crash-*
/timeout-*
/oom-*
/build/
